[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/advanced-custom-fields"]
	path = content/plugins/advanced-custom-fields
	url = https://github.com/elliotcondon/acf.git
[submodule "content/plugins/akismet"]
	path = content/plugins/akismet
	url = https://github.com/fleishmanhillard/akismet.git
[submodule "content/plugins/w3-total-cache"]
	path = content/plugins/w3-total-cache
	url = https://github.com/fleishmanhillard/w3-total-cache.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/Yoast/wordpress-seo.git
[submodule "content/mu-plugins/wp-stack"]
	path = content/mu-plugins/wp-stack
	url = https://github.com/markjaquith/WP-Stack.git
[submodule "content/plugins/sucuri-scanner"]
	path = content/plugins/sucuri-scanner
	url = https://github.com/wp-plugins/sucuri-scanner.git
[submodule "content/plugins/google-analytics-for-wordpress"]
	path = content/plugins/google-analytics-for-wordpress
	url = https://github.com/Yoast/google-analytics-for-wordpress.git
